@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul, ol, li {
  list-style: none;
}

#wrap {
  width: 100%;
}

header {
  width: 100%;
}

#headertop {
  width: 100%;
  height: 38px;
  background-color: #0080ff;
}

#headertopwrap {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#leftnav ul {
  display: flex;
}

#leftnav ul li a {
  color: #fff;
  font-family: "맑은 고딕";
  font-size: 14px;
  font-weight: bold;
  line-height: 38px;
  letter-spacing: -1px;
  padding: 0 7px;
}

#rightnav > ul {
  display: flex;
}

#rightnav > ul li a {
  color: #fff;
  font-family: "돋움";
  font-size: 11px;
  line-height: 40px;
  letter-spacing: -1px;
  padding: 1px 4px 0px;
}

#rightnav img {
  margin: 0 0 1px 2px;
}

.mypagebox {
  position: absolute;
  top: 7px;
  display: flex;
  color: #666;
  width: 70px;
  border: 1px solid #0080ff;
  z-index: 10;
  background-color: #fff;
  font-size: 11px;
  display: none;
}

.mypagebox ul li {
  padding: 0 !important;
}

.mypagebox ul li a {
  color: #666 !important;
  line-height: 25px !important;
}

#headermid {
  width: 100%;
  height: 112px;
}

#headermidwrap {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  width: 265px;
  height: 103px;
  display: flex;
  justify-content: center;
}

.search {
  width: 520px;
  height: 52px;
  border: solid 2px #0080ff;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.searchbar {
  width: 430px;
  height: 100%;
  margin-left: 17px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  border: none;
  position: absolute;
}

.searchbar::placeholder {
  color: #000;
}

.searchbar:focus {
  outline: none;
}

.searchbtn {
  width: 60px;
  height: 100%;
  border: none;
  position: absolute;
  right: 0;
  cursor: pointer;
}

#headerbanner {
  width: 180px;
  height: 112px;
  position: absolute;
  top: 0;
  right: 0;
}

#headerbanner img {
  width: 100%;
  height: 100%;
}

#headerbanner li:not(:first-child) {
  display: none;
}

#buttonbox {
  position: absolute;
  bottom: 15px;
  right: 0;
}

#buttonbox button {
  border: 0;
  height: 16px;
  margin: -3px;
  cursor: pointer;
}

#headerbot {
  width: 100%;
  height: 45px;
  border-top: 1px solid #eee;
  border-bottom: 2px solid #0080ff;
}

#headerbotwrap {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#mainnav > ul {
  display: flex;
  height: 43px;
}

#mainnav > ul > li {
  font-family: "맑은 고딕";
  font-size: 13px;
  font-weight: bold;
  padding: 0 6px;
  height: 100%;
  line-height: 40px;
}

#mainnav > ul > li:nth-of-type(1) {
  background-color: #0080ff;
  width: 109px;
  text-align: center;
  margin-right: 6px;
}

#mainnav > ul > li:nth-of-type(1) > a {
  color: #fff;
}

#mainlist {
  margin-left: -6px;
  width: 109px;
  height: 402px;
  border: 3px solid #0080ff;
  display: none;
  background-color: #fff;
  z-index: 10;
  position: relative;
}

#mainlist > li {
  text-align: left;
  padding-left: 12px;
}

#mainlist > li:hover {
  background-color: #0080ff;
}

#mainlist > li:hover > a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}

#mainlist > li > a {
  font-family: "맑은 고딕";
  font-size: 14px;
  color: #666;
}

.mainlistbox {
  position: absolute;
  width: 570px;
  height: 400px;
  border: 3px solid #0080ff;
  top: -1px;
  left: 103px;
  text-align: left;
  background-color: #fff;
  z-index: 10;
}

.mainlistbox {
  display: none;
}

.ss {
  display: block;
}

.mainlistbox h3 {
  width: 100%;
  margin-top: 5px;
}

.mainlistbox h3 a {
  color: #333;
  margin-left: 20px;
}

.mainlistbox img {
  position: absolute;
  top: 0;
  right: -64px;
  width: 439px;
  height: 394px;
}

.listbox {
  display: flex;
}

.listbox hr {
  z-index: 10;
}

.listboxlist {
  z-index: 10;
}

.listboxlist li {
  line-height: 20px;
  margin-left: 20px;
  width: 125px;
  cursor: pointer;
}

.listboxlist li a {
  color: #666;
  text-align: left;
  font-size: 13px;
  font-weight: normal;
}

.listboxlist li a:hover {
  text-decoration: underline;
}

.blue a {
  color: #0080ff;
}

#subnav ul {
  display: flex;
  height: 43px;
}

#subnav ul li {
  font-family: "맑은 고딕";
  font-size: 13px;
  padding: 0 6px;
  height: 100%;
  line-height: 40px;
}

#subnav ul li a {
  color: #666;
}

footer {
  width: 100%;
  height: 341px;
  border-top: 1px solid #cbcbcb;
  margin-top: 20px;
  background-color: #dfdfdf;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#footertop {
  width: 100%;
  height: 44px;
  border-bottom: 1px solid #cbcbcb;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#footertopwrap {
  width: 960px;
  height: 100%;
  display: flex;
}

#footertopwrap ul {
  display: flex;
}

#footertopwrap ul li {
  line-height: 40px;
  padding: 0 5px;
  font-size: 12px;
  font-family: "맑은 고딕";
  cursor: pointer;
}

#footertopwrap ul li a {
  color: #666;
}

#footertopwrap ul li:hover a {
  text-decoration: underline;
}

#footertopwrap ul li:nth-of-type(4) a {
  font-weight: bold;
  color: #333;
}

#sns {
  margin-left: 20px;
}

#sns img {
  margin-top: 9px;
}

.asdf {
  width: 120px;
  height: 24px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}

#footerbot {
  width: 100%;
  display: flex;
  justify-content: center;
}

#footerbotwrap {
  width: 960px;
}

#footerbot1 {
  width: 100%;
  height: 148px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#bot1box1 p {
  font-family: "맑은 고딕";
  font-size: 11px;
  color: #999;
  line-height: 16px;
}

#bot1box1 p:last-of-type {
  margin-top: 5px;
}

#bot1box1 span a {
  color: #666;
  letter-spacing: -1px;
}

#bot1box1 span:hover a {
  text-decoration: underline;
}

#bot1box2 h4 {
  font-size: 15px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: normal;
  color: #999;
  margin-bottom: 5px;
}

#bot1box2 p {
  font-size: 11px;
  color: #666;
}

#bot1box2 span {
  font-size: 13px;
  color: #333;
  font-weight: bold;
}

#bot1box2 a {
  font-size: 12px;
  color: #666;
}

#bot1box2 a:hover {
  text-decoration: underline;
}

#footerbot2 {
  width: 100%;
  height: 88px;
}

#footerbot2 img {
  width: 960px;
  height: 88px;
}

#footerbot3 {
  width: 100%;
  padding: 20px 0;
  display: flex;
}

#footerbot3 span {
  font-size: 12px;
  font-weight: bold;
  color: #333;
  letter-spacing: -1px;
  line-height: 16px;
}

#footerbot3 img {
  width: 70px;
  height: 18px;
}

#footerbot3 p {
  font-size: 11px;
  color: #999;
  line-height: 16px;
}

#footerbot3 a {
  font-size: 11px;
  color: #666;
  letter-spacing: -1px;
}

#footerbot3 a:hover {
  text-decoration: underline;
}

#contents1 {
  margin: 20px auto 0;
  width: 1200px;
  height: 421px;
  border: 1px solid #ddd;
  display: flex;
}

#contents1nav {
  width: 109px;
  height: 420px;
  padding-top: 9px;
  border-right: 1px solid #ddd;
}

#contents1nav li {
  width: 108px;
  height: 40px;
  padding-left: 13px;
  font-size: 14px;
  background-color: #fff;
  line-height: 40px;
  font-weight: bold;
}

#contents1nav a {
  color: #000;
  display: block;
  width: 100%;
  height: 100%;
}

#contents1nav li:hover {
  background-color: #0080ff;
}

#contents1nav li:hover a {
  color: #fff;
}

#contents1wrap {
  width: 1091px;
  height: 421px;
}

.contents1box1 {
  width: 1089px;
  height: 419px;
  position: relative;
  overflow: hidden;
  display: none;
}

.contents1box1img img {
  cursor: pointer;
}

.contents1box1img img:not(:first-of-type) {
  display: none;
}

.contents1box1 ul {
  display: flex;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
}

.contents1box1 ul li {
  width: 24.9%;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  background-color: #fff;
  color: #666;
  cursor: pointer;
}

.contents1box1 ul li:hover {
  background-color: #333;
  color: #fff;
}

.contents1box2 {
  display: flex;
  width: 1089px;
  height: 419px;
  overflow: hidden;
  position: relative;
}

.contents1box2 ul:nth-of-type(1) {
  width: 130px;
  border-right: 1px solid #ddd;
  padding: 10px 0 0 15px;
}

.contents1box2 ul:nth-of-type(1) li {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -1px;
}

.contents1box2 ul:nth-of-type(1) li a {
  color: #666;
}

.contents1box2 ul:nth-of-type(1) li a:hover {
  text-decoration: underline;
}

.contents1box2 ul:nth-of-type(2) {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 959px;
  height: 40px;
  justify-content: space-between;
}

.contents1box2 ul:nth-of-type(2) li {
  width: 14.2%;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  background-color: #fff;
  color: #666;
  cursor: pointer;
}

.contents1box2 ul:nth-of-type(2) li:hover {
  background-color: #333;
  color: #fff;
}

.contents1box2img img {
  cursor: pointer;
}

.contents1box2img img:not(:first-of-type) {
  display: none;
}

#contents2 {
  margin: 20px auto 0;
  width: 1200px;
  height: 386px;
  display: flex;
  justify-content: space-between;
}

#contents2adbox {
  width: 238px;
  height: 100%;
  border: 1px solid #ddd;
}

#contents2ad1 {
  width: 100%;
  height: 267px;
  border-bottom: 1px solid #ddd;
}

#contents2ad1 img {
  width: 100%;
  height: 100%;
  padding: 10px 25px;
}

#contents2ad2 {
  width: 100%;
  height: 119px;
}

#contents2ad2 img {
  width: 100%;
  height: 100%;
  padding: 10px 25px;
}

#contents2mainbox {
  width: 700px;
  height: 386px;
  margin: 0 10px;
  display: flex;
}

#contents2mainboxthumb img {
  width: 225px;
  margin: 0 30px;
}

#contents2mainboxtext h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

#contents2mainboxtext h3 a {
  color: #333;
}

#contents2mainboxtext h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

#contents2mainboxtext h4 a {
  color: #6699cc;
}

#contents2mainboxtext h4 a:hover {
  text-decoration: underline;
}

#contents2mainboxtext p:nth-of-type(1) {
  font-size: 14px;
  color: #999;
  line-height: 22px;
  margin-bottom: 10px;
}

#contents2mainboxtext p:nth-of-type(2) {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

#contents2mainboxtext p:nth-of-type(2) a {
  color: #333;
}

#contents2mainboxtext p:nth-of-type(3) {
  font-size: 12px;
  color: #999;
  margin-bottom: 10px;
}

#contents2mainboxtext p:nth-of-type(4) {
  font-size: 12px;
  color: #333;
  margin-bottom: 20px;
}

#contents2mainboxtext p:nth-of-type(4) span {
  font-size: 16px;
  font-weight: bold;
}

#contents2mainboxpre img {
  width: 60px;
  margin-right: 20px;
  border: 1px solid #ddd;
}

#contents2rankbox {
  width: 240px;
  height: 386px;
  border: 1px solid #d8d8d8;
}

#contents2rankbox > ul {
  display: flex;
}

#contents2rankbox > ul li {
  width: 120px;
  height: 30px;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  border-bottom: 1px solid #d8d8d8;
}

#contents2rankbox > ul li:nth-of-type(1) {
  border-right: 1px solid #d8d8d8;
  border-bottom: none;
}

#contents2rankbest {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#contents2rankbest select {
  margin: 10px 0 5px 0;
  width: 206px;
  height: 22px;
  border: 1px solid #ddd;
  color: #333;
  font-size: 12px;
}

#bestsellerselect {
  display: flex;
  justify-content: center;
}

#bestseller span {
  font-size: 11px;
}

#bestseller span:nth-of-type(1) {
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

#bestseller span:nth-of-type(3) {
  color: #666;
  cursor: pointer;
}

#bestsellernav {
  display: flex;
  justify-content: space-between;
}

#bestsellernav a {
  color: #666;
  font-size: 12px;
  letter-spacing: -1px;
}

#ranking {
  margin-top: 10px;
}

#ranking li {
  margin-bottom: 10px;
}

.rankingimg {
  margin-right: 10px;
}

#ranking li img {
  width: 45px;
  height: 45px;
  border: 1px solid #ddd;
}

#ranking li a {
  display: flex;
}

#ranking li p:nth-of-type(1) {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

#ranking li p:nth-of-type(2) {
  font-size: 11px;
  color: #999;
}

#ranking li span {
  display: block;
  text-align: center;
  line-height: 20px;
  width: 20px;
  height: 20px;
  background-color: #eee;
  margin-right: 10px;
}

#contents3 {
  margin: 20px auto 0;
  width: 1200px;
  height: 383px;
  border: 1px solid #ddd;
  display: flex;
  position: relative;
}

#contents3main {
  width: 962px;
}

#contents3 h3 {
  font-size: 16px;
  margin: 30px 0 30px 30px;
  width: 100%;
}

#contents3 h3 a {
  color: #333;
}

.contents3list {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.contents3list a:hover {
  text-decoration: underline;
}

.contents3list li {
  width: 20%;
}

#contents3 ul li img {
  width: 125px;
}

#contents3main ul li p {
  margin: 5px 0;
}

#contents3main ul li > p:nth-of-type(1) {
  font-size: 12px;
  color: #6699cc;
}

#contents3main ul li > a:nth-of-type(1) {
  font-size: 13px;
  color: #333;
  font-weight: bold;
}

#contents3main ul li > p:nth-of-type(2) {
  font-size: 12px;
  color: #999;
}

#contents3main ul li > p:nth-of-type(3) {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

#contents3adbox {
  position: absolute;
  width: 238px;
  height: 100%;
  right: 0;
  background-color: #ecf5fe;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contents3adbox h3 {
  margin-bottom: -20px;
  letter-spacing: -1px;
}

#contents3adbox img {
  width: 158px;
  height: 100px;
}

#slider {
  width: 100%;
  margin: 20px auto 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#slider img {
  width: 100%;
}

#contents4 {
  margin: 20px auto 0;
  width: 1200px;
  height: 383px;
  border: 1px solid #ddd;
  display: flex;
  position: relative;
}

#contents4main {
  width: 962px;
}

#contents4 h3 {
  font-size: 16px;
  margin: 30px 0 30px 30px;
  width: 100%;
}

#contents4 h3 a {
  color: #333;
}

.contents4list {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.contents4list a:hover {
  text-decoration: underline;
}

.contents4list li {
  width: 20%;
}

#contents4 ul li img {
  width: 125px;
  border: 1px solid #ddd;
}

#contents4main ul li p {
  margin: 5px 0;
}

#contents4 h3 span {
  color: #425ca9;
}

#contents4main ul li > a:nth-of-type(1) {
  font-size: 13px;
  color: #333;
  font-weight: bold;
}

#contents4main ul li > p:nth-of-type(1) {
  font-size: 12px;
  color: #999;
}

#contents4main ul li > p:nth-of-type(2) {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

#contents4adbox img {
  width: 240px;
  height: 100%;
}

#contents5 {
  margin: 20px auto 0;
  width: 1200px;
  height: 248px;
  border: 1px solid #ddd;
  display: flex;
  position: relative;
}

#contents5recent {
  width: 239px;
  height: 100%;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contents5 h3 {
  font-size: 16px;
  margin: 20px 0;
}

#contents5recent img, #contents5recommend img {
  width: 80px;
  height: 120px;
  border: 1px solid #ddd;
}

#contents5 p {
  font-size: 12px;
  margin: 10px 0;
}

#contents5recent p {
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0;
}

#contents5 a:hover {
  text-decoration: underline;
}

#contents5recommend {
  width: 721px;
  height: 100%;
  border-right: 1px solid #ddd;
}

#contents5recommend ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#contents5recommend h3 {
  margin-left: 30px;
}

.recommendlist {
  text-align: center;
}

#contents5adbox {
  width: 238px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contents6 {
  margin: 20px auto 0;
  width: 1200px;
  height: 500px;
  border: 1px solid #ddd;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

#contents6 h3 {
  font-size: 16px;
  margin: 30px 0 -30px 30px;
  width: 100%;
  letter-spacing: -0.5px;
}

#contents6main {
  width: 100%;
  display: flex;
}

#contents6frame {
  margin-top: 20px;
  margin-left: 30px;
}

#contents6frame p {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
}

#contents6info {
  margin-top: 20px;
  margin-left: 30px;
}

#contents6info p {
  color: #333;
}

#contents6infobook {
  width: 480px;
  height: 200px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

#contents6img img {
  width: 136px;
  height: 200px;
  border: 1px solid #ddd;
}

#contents6text {
  margin-top: 30px;
  margin-left: 15px;
  line-height: 20px;
}

#contents6text a {
  font-size: 13px !important;
  font-weight: bold;
}

#contents6text a:hover {
  text-decoration: underline;
}

#contents6text .author {
  font-size: 12px;
  color: #999;
}

#banner {
  margin: 20px auto 0;
  width: 1200px;
  height: 80px;
  overflow: hidden;
}

#banner img {
  width: 1200px;
  height: 80px;
}

#contents7 {
  margin: 20px auto 0;
  width: 1200px;
  display: flex;
}

#contents7 ul {
  display: flex;
}

#contents7 ul li {
  margin-left: 50px;
  list-style-type: disc;
}

#contents7 h3 {
  font-size: 16px;
  margin: 0 30px 0 20px;
}

#contents7 ul li a {
  font-size: 12px;
  color: #666;
}

#contents7 ul li a:hover {
  text-decoration: underline;
}

#contents7 ul li a span {
  font-size: 11px;
}

#contents8 {
  margin: 20px auto 0;
  width: 1200px;
  height: 78px;
  border: 1px solid #ddd;
  display: flex;
}

#contents8 img {
  width: 100%;
  height: 100%;
}