@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul, ol, li {
  list-style: none;
}

#wrap {
  width: 100%;
}

header {
  width: 100%;
}

#headertop {
  width: 100%;
  height: 38px;
  background-color: #0080ff;
}

#headertopwrap {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#leftnav ul {
  display: flex;
}

#leftnav ul li a {
  color: #fff;
  font-family: "맑은 고딕";
  font-size: 14px;
  font-weight: bold;
  line-height: 38px;
  letter-spacing: -1px;
  padding: 0 7px;
}

#rightnav > ul {
  display: flex;
}

#rightnav > ul li a {
  color: #fff;
  font-family: "돋움";
  font-size: 11px;
  line-height: 40px;
  letter-spacing: -1px;
  padding: 1px 4px 0px;
}

#rightnav img {
  margin: 0 0 1px 2px;
}

.mypagebox {
  position: absolute;
  top: 7px;
  display: flex;
  color: #666;
  width: 70px;
  border: 1px solid #0080ff;
  z-index: 10;
  background-color: #fff;
  font-size: 11px;
  display: none;
}

.mypagebox ul li {
  padding: 0 !important;
}

.mypagebox ul li a {
  color: #666 !important;
  line-height: 25px !important;
}

#headermid {
  width: 100%;
  height: 112px;
}

#headermidwrap {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  width: 265px;
  height: 103px;
  display: flex;
  justify-content: center;
}

.search {
  width: 520px;
  height: 52px;
  border: solid 2px #0080ff;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.searchbar {
  width: 430px;
  height: 100%;
  margin-left: 17px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  border: none;
  position: absolute;
}

.searchbar::placeholder {
  color: #000;
}

.searchbar:focus {
  outline: none;
}

.searchbtn {
  width: 60px;
  height: 100%;
  border: none;
  position: absolute;
  right: 0;
  cursor: pointer;
}

#headerbanner {
  width: 180px;
  height: 112px;
  position: absolute;
  top: 0;
  right: 0;
}

#headerbanner img {
  width: 100%;
  height: 100%;
}

#headerbanner li:not(:first-child) {
  display: none;
}

#buttonbox {
  position: absolute;
  bottom: 15px;
  right: 0;
}

#buttonbox button {
  border: 0;
  height: 16px;
  margin: -3px;
  cursor: pointer;
}

#headerbot {
  width: 100%;
  height: 45px;
  border-top: 1px solid #eee;
  border-bottom: 2px solid #0080ff;
}

#headerbotwrap {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#mainnav > ul {
  display: flex;
  height: 43px;
}

#mainnav > ul > li {
  font-family: "맑은 고딕";
  font-size: 13px;
  font-weight: bold;
  padding: 0 6px;
  height: 100%;
  line-height: 40px;
}

#mainnav > ul > li:nth-of-type(1) {
  background-color: #0080ff;
  width: 109px;
  text-align: center;
  margin-right: 6px;
}

#mainnav > ul > li:nth-of-type(1) > a {
  color: #fff;
}

#mainlist {
  margin-left: -6px;
  width: 109px;
  height: 402px;
  border: 3px solid #0080ff;
  display: none;
  background-color: #fff;
  z-index: 10;
  position: relative;
}

#mainlist > li {
  text-align: left;
  padding-left: 12px;
}

#mainlist > li:hover {
  background-color: #0080ff;
}

#mainlist > li:hover > a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}

#mainlist > li > a {
  font-family: "맑은 고딕";
  font-size: 14px;
  color: #666;
}

.mainlistbox {
  position: absolute;
  width: 570px;
  height: 400px;
  border: 3px solid #0080ff;
  top: -1px;
  left: 103px;
  text-align: left;
  background-color: #fff;
  z-index: 10;
}

.mainlistbox {
  display: none;
}

.ss {
  display: block;
}

.mainlistbox h3 {
  width: 100%;
  margin-top: 5px;
}

.mainlistbox h3 a {
  color: #333;
  margin-left: 20px;
}

.mainlistbox img {
  position: absolute;
  top: 0;
  right: -64px;
  width: 439px;
  height: 394px;
}

.listbox {
  display: flex;
}

.listbox hr {
  z-index: 10;
}

.listboxlist {
  z-index: 10;
}

.listboxlist li {
  line-height: 20px;
  margin-left: 20px;
  width: 125px;
  cursor: pointer;
}

.listboxlist li a {
  color: #666;
  text-align: left;
  font-size: 13px;
  font-weight: normal;
}

.listboxlist li a:hover {
  text-decoration: underline;
}

.blue a {
  color: #0080ff;
}

#subnav ul {
  display: flex;
  height: 43px;
}

#subnav ul li {
  font-family: "맑은 고딕";
  font-size: 13px;
  padding: 0 6px;
  height: 100%;
  line-height: 40px;
}

#subnav ul li a {
  color: #666;
}

footer {
  width: 100%;
  height: 341px;
  border-top: 1px solid #cbcbcb;
  margin-top: 20px;
  background-color: #dfdfdf;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#footertop {
  width: 100%;
  height: 44px;
  border-bottom: 1px solid #cbcbcb;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#footertopwrap {
  width: 960px;
  height: 100%;
  display: flex;
}

#footertopwrap ul {
  display: flex;
}

#footertopwrap ul li {
  line-height: 40px;
  padding: 0 5px;
  font-size: 12px;
  font-family: "맑은 고딕";
  cursor: pointer;
}

#footertopwrap ul li a {
  color: #666;
}

#footertopwrap ul li:hover a {
  text-decoration: underline;
}

#footertopwrap ul li:nth-of-type(4) a {
  font-weight: bold;
  color: #333;
}

#sns {
  margin-left: 20px;
}

#sns img {
  margin-top: 9px;
}

.asdf {
  width: 120px;
  height: 24px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}

#footerbot {
  width: 100%;
  display: flex;
  justify-content: center;
}

#footerbotwrap {
  width: 960px;
}

#footerbot1 {
  width: 100%;
  height: 148px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#bot1box1 p {
  font-family: "맑은 고딕";
  font-size: 11px;
  color: #999;
  line-height: 16px;
}

#bot1box1 p:last-of-type {
  margin-top: 5px;
}

#bot1box1 span a {
  color: #666;
  letter-spacing: -1px;
}

#bot1box1 span:hover a {
  text-decoration: underline;
}

#bot1box2 h4 {
  font-size: 15px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: normal;
  color: #999;
  margin-bottom: 5px;
}

#bot1box2 p {
  font-size: 11px;
  color: #666;
}

#bot1box2 span {
  font-size: 13px;
  color: #333;
  font-weight: bold;
}

#bot1box2 a {
  font-size: 12px;
  color: #666;
}

#bot1box2 a:hover {
  text-decoration: underline;
}

#footerbot2 {
  width: 100%;
  height: 88px;
}

#footerbot2 img {
  width: 960px;
  height: 88px;
}

#footerbot3 {
  width: 100%;
  padding: 20px 0;
  display: flex;
}

#footerbot3 span {
  font-size: 12px;
  font-weight: bold;
  color: #333;
  letter-spacing: -1px;
  line-height: 16px;
}

#footerbot3 img {
  width: 70px;
  height: 18px;
}

#footerbot3 p {
  font-size: 11px;
  color: #999;
  line-height: 16px;
}

#footerbot3 a {
  font-size: 11px;
  color: #666;
  letter-spacing: -1px;
}

#footerbot3 a:hover {
  text-decoration: underline;
}

#topbanner {
  height: 58px;
  display: flex;
  justify-content: center;
  background-color: #eee;
}

#topbanner img {
  height: 58px;
}

#category {
  background-color: #f8f8f8;
  height: 41px;
  border-bottom: 1px solid #ddd;
}
#category p {
  width: 1200px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 40px;
}
#category p a {
  color: #666;
  margin: 0 10px;
}

#contents1 {
  width: 1200px;
  height: 746px;
  margin: 40px auto 30px;
  display: flex;
}

#thumbnail {
  width: 400px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 40px;
}
#thumbnail img {
  width: 400px;
  height: 623px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
}
#thumbnail button {
  width: 96px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  margin-left: 10px;
}

#main {
  width: 800px;
  height: 100%;
}
#main p {
  font-size: 12px;
  color: #333;
}
#main .p1 span {
  border: 1px solid #ddd;
  font-size: 11px;
  color: #666;
  padding: 2px 4px;
}
#main .p1 {
  font-size: 12px;
  color: #333;
}
#main h2 {
  font-family: "Noto Sans KR";
  font-size: 25px;
  font-weight: 600;
  color: #333;
}
#main .p2 {
  font-size: 12px;
  color: #333;
  margin: 10px 0;
}
#main .p2 span {
  color: #999;
}

#score {
  height: 23px;
  font-size: 12px;
  color: #333;
  padding-bottom: 60px;
  border-bottom: 1px solid #ddd;
}
#score .s1 {
  font-size: 20px;
  font-weight: bold;
}
#score .s2 {
  background-color: #6699cc;
  color: #fff;
  padding: 3px;
}
#score a:hover {
  text-decoration: underline;
}

#mainbox {
  display: flex;
  justify-content: space-between;
}

#price {
  font-size: 12px;
  color: #333;
}
#price th {
  font-weight: normal;
  width: 110px;
  padding: 10px 0;
  text-align: left;
}
#price .red {
  color: #ff6666;
  font-size: 14px;
}
#price .red span {
  font-size: 24px;
  font-weight: bold;
}
#price .t1 {
  padding: 20px 0;
}
#price span a {
  color: #6699cc;
}
#price span a:hover {
  text-decoration: underline;
}

#ship {
  width: 500px;
  height: 50px;
  background-color: #edf5fe;
}
#ship p {
  font-size: 12px;
  color: #333;
  line-height: 50px;
  margin-left: 15px;
}
#ship .box {
  border: 1px solid #ddd;
  font-size: 11px;
  color: #666;
  padding: 2px 4px;
  background-color: #fff;
}

#used {
  width: 500px;
  height: 30px;
  border: 1px solid #ddd;
  margin-top: 30px;
}
#used p {
  font-size: 12px;
  color: #333;
  line-height: 30px;
  margin-left: 30px;
}
#used span {
  color: #6699cc;
}

#mainright {
  width: 220px;
  height: 600px;
  background-color: #eee;
  padding: 20px;
}
#mainright input {
  width: 50px;
  height: 25px;
  border: 1px solid #ddd;
  text-align: center;
}
#mainright input:focus {
  outline: none;
}
#mainright button {
  width: 180px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  font-weight: bold;
  color: #333;
  margin: 5px 0;
  cursor: pointer;
}
#mainright button:nth-of-type(1) {
  background-color: #196ab3;
  color: #fff;
}
#mainright button:nth-of-type(2) {
  background-color: #199db3;
  color: #fff;
}
#mainright hr {
  margin: 10px 0;
}
#mainright ul li {
  font-size: 12px;
  color: #666;
  margin: 10px 0;
}
#mainright p {
  font-size: 12px;
  color: #666;
  margin-bottom: 10px;
}
#mainright #order {
  position: relative;
}
#mainright #order button {
  width: 24px;
  height: 24px;
  background-color: #f8f8f8;
  color: #000;
  font-size: 16px;
  font-weight: normal;
  border-radius: 0;
}
#mainright #order span {
  font-size: 12px;
  color: #666;
}
#mainright #order input {
  height: 24px;
  transform: translate(0, -1px);
}

#navwrap {
  width: 100%;
  height: 60px;
  background-color: #eee;
  border-bottom: 1px solid #333;
  z-index: 10;
}

#nav {
  width: 1200px;
  height: 60px;
  margin: 0 auto;
}
#nav ul {
  display: flex;
  height: 100%;
}
#nav ul li {
  width: 170px;
  height: 100%;
  text-align: center;
  line-height: 60px;
}
#nav ul li a {
  font-size: 16px;
  font-weight: bold;
  display: block;
  width: 100%;
  height: 100%;
}
#nav ul .active {
  background-color: #333;
}
#nav ul .active a {
  color: #fff;
}

.fixed {
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
}

#bookinfowrap {
  width: 1200px;
  margin: 40px auto 0;
  display: flex;
  justify-content: space-between;
}
#bookinfowrap #bookinfoleft {
  width: 960px;
}
#bookinfowrap #bookinfoleft h4 {
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
#bookinfowrap #bookinfoleft #product {
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd;
}
#bookinfowrap #bookinfoleft #product table {
  width: 940px;
  margin: 20px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
}
#bookinfowrap #bookinfoleft #product table th {
  width: 170px;
  font-size: 13px;
  color: #333;
  padding: 12px 0;
  background-color: #f8f8f8;
  border-bottom: 1px solid #eee;
}
#bookinfowrap #bookinfoleft #product table td {
  font-size: 12px;
  color: #666;
  padding: 12px 14px;
  border-bottom: 1px solid #eee;
}
#bookinfowrap #bookinfoleft #product p:nth-of-type(1) {
  font-size: 13px;
  color: #333;
  font-weight: bold;
  margin: 15px 0 5px;
}
#bookinfowrap #bookinfoleft #product p:nth-of-type(2) {
  font-size: 12px;
  color: #666;
}
#bookinfowrap #bookinfoleft #bookcontents {
  width: 940px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd;
}
#bookinfowrap #bookinfoleft #bookcontents h4 {
  margin: 40px 0 15px;
}
#bookinfowrap #bookinfoleft #bookcontents p {
  font-size: 15px;
  color: #666;
  line-height: 1.74em;
}
#bookinfowrap #bookinfoleft #bookcontents2 {
  width: 940px;
  height: 710px;
  overflow: hidden;
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd;
  color: #666;
  line-height: 25px;
  position: relative;
  transition: all 1s ease;
}
#bookinfowrap #bookinfoleft #bookcontents2 h4 {
  margin: 40px 0 15px;
}
#bookinfowrap #bookinfoleft #bookcontents2 h5 {
  font-size: 15px;
  color: #666;
}
#bookinfowrap #bookinfoleft #bookcontents2 p {
  position: absolute;
  right: 0;
  cursor: pointer;
  font-size: 14px;
  padding-bottom: 10px;
  color: #6699cc;
}
#bookinfowrap #bookinfoleft #bookcontents2 p:hover {
  text-decoration: underline;
}
#bookinfowrap #bookinfoleft #bookimage {
  width: 940px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd;
}
#bookinfowrap #bookinfoleft #bookimage h4 {
  margin: 40px 0 15px;
}
#bookinfowrap #bookinfoleft #author {
  width: 940px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd;
}
#bookinfowrap #bookinfoleft #author h4 {
  margin: 40px 0 15px;
}
#bookinfowrap #bookinfoleft #author p {
  font-size: 15px;
  color: #666;
  line-height: 1.74em;
}
#bookinfowrap #bookinfoleft #author #authorbox {
  width: 100%;
  border: 1px solid #ddd;
}
#bookinfowrap #bookinfoleft #author #authorbox p {
  font-size: 15px;
  color: #666;
  padding: 20px 30px;
  line-height: 25px;
}
#bookinfowrap #bookinfoleft #author #authorbox #authorname {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
}
#bookinfowrap #bookinfoleft #author #authorbox #authorname h2 {
  font-size: 16px;
  color: #333;
  margin-left: 20px;
}
#bookinfowrap #bookinfoleft #author #authorbox #authorname span {
  font-weight: normal;
}
#bookinfowrap #bookinfoleft #author #authorbox #authorname div:nth-of-type(2) {
  margin-right: 10px;
}
#bookinfowrap #bookinfoleft #author #authorbox #authorname button {
  height: 30px;
  padding: 0 7px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 12px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}
#bookinfowrap #bookinforight {
  width: 220px;
}
#bookinfowrap #bookinforight h5 {
  font-size: 15px;
  color: #333;
}
#bookinfowrap #bookinforight #series {
  position: sticky;
  width: 100%;
  border: 1px solid #ddd;
}
#bookinfowrap #bookinforight #series .head {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
#bookinfowrap #bookinforight #series .head span {
  font-size: 12px;
  display: block;
  transform: translate(0, 3px);
}
#bookinfowrap #bookinforight #series .head span a {
  color: #999;
}
#bookinfowrap #bookinforight #series .books .book1 {
  display: flex;
  margin: 10px;
}
#bookinfowrap #bookinforight #series .books .book1 .book1img img {
  width: 64px;
  height: 100px;
  cursor: pointer;
}
#bookinfowrap #bookinforight #series .books .book1 .book1text {
  margin-left: 10px;
}
#bookinfowrap #bookinforight #series .books .book1 .book1text a:hover {
  text-decoration: underline;
}
#bookinfowrap #bookinforight #series .books .book1 .book1text p {
  font-size: 12px;
  color: #333;
  line-height: 20px;
}
#bookinfowrap #bookinforight #series .books .book1 .book1text p:nth-of-type(2) {
  color: #999;
}

#review {
  width: 1200px;
  margin: 40px auto 0;
}
#review #reviewwrap {
  width: 940px;
}
#review #reviewwrap h3 {
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}
#review #reviewwrap #review1 {
  position: relative;
}
#review #reviewwrap #review1 > button {
  width: 115px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  font-size: 13px;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
}
#review #reviewwrap #review1 p {
  font-size: 13px;
  color: #666;
  line-height: 20px;
}
#review #reviewwrap #review1 p b {
  color: #333;
}
#review #reviewwrap #review1 p button {
  border: 1px solid #ddd;
  background-color: #fff;
  font-size: 11px;
  padding: 2px 4px;
  color: #333;
  cursor: pointer;
}
#review #reviewwrap #review2 {
  margin-top: 30px;
  border: 1px solid #ddd;
}
#review #reviewwrap #review2 .rv {
  padding: 20px;
  position: relative;
}
#review #reviewwrap #review2 .rv p {
  font-size: 12px;
  color: #666;
}
#review #reviewwrap #review2 .rv img {
  transform: translate(0, 3px);
}
#review #reviewwrap #review2 .rv span {
  color: #6699cc;
}
#review #reviewwrap #review2 .rv .btnbox {
  position: absolute;
  right: 10px;
  bottom: 35px;
}
#review #reviewwrap #review2 .rv .like {
  width: 40px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
#review #reviewwrap #review2 .rv .reply {
  width: 60px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}
#review #reviewwrap #review2 .rv .rvtext1 {
  position: relative;
  font-size: 15px;
  color: #666;
  line-height: 1.74em;
  height: 240px;
  overflow: hidden;
}
#review #reviewwrap #review2 .rv .rvtext1 span {
  position: absolute;
  right: 0;
  cursor: pointer;
  font-size: 12px;
}
#review #reviewwrap #review2 .rv .rvtext1 span:hover {
  text-decoration: underline;
}
#review #reviewwrap #review2 .rv .rvtext2 {
  position: relative;
  font-size: 15px;
  color: #666;
  line-height: 1.74em;
  height: 185px;
  overflow: hidden;
}
#review #reviewwrap #review2 .rv .rvtext2 span {
  position: absolute;
  right: 0;
  cursor: pointer;
  font-size: 12px;
}
#review #reviewwrap #review2 .rv .rvtext2 span:hover {
  text-decoration: underline;
}
#review #reviewwrap #review2 .rv .rvtext3 {
  position: relative;
  font-size: 15px;
  color: #666;
  line-height: 1.74em;
  height: 250px;
  overflow: hidden;
}
#review #reviewwrap #review2 .rv .rvtext3 span {
  position: absolute;
  right: 0;
  cursor: pointer;
  font-size: 12px;
}
#review #reviewwrap #review2 .rv .rvtext3 span:hover {
  text-decoration: underline;
}

#shipping {
  width: 1200px;
  margin: 40px auto 0;
}
#shipping #shippingwrap {
  width: 940px;
}
#shipping #shippingwrap p {
  font-size: 13px;
  color: #666;
}
#shipping h4 {
  font-size: 16px;
  color: #6699cc;
  margin: 20px 0;
}
#shipping table {
  border-collapse: collapse;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  line-height: 20px;
}
#shipping table th {
  width: 170px;
  font-size: 13px;
  color: #333;
  background-color: #f8f8f8;
}
#shipping table th:nth-of-type(1), #shipping table td:nth-of-type(1) {
  border-bottom: 1px solid #ddd;
}
#shipping table td {
  font-size: 12px;
  color: #666;
  padding: 12px 14px;
}
#shipping table td img {
  width: 175px;
  height: 175px;
}